.homepage{
    width:100%;
    height: calc(100vh - 80px);
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.homePage .postContents{
    width: 600px;
    height: auto;
    max-height: 600px;
    background-color: #fff;
    box-shadow: 5px 9px 14px -5px #777777;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}
.postHeader h1{
    text-align: center;
    margin-top:5px;
}
.postContents .postTextContainer{
    height: auto;
    word-wrap: break-word;
    max-height: 400px;
    width: 100%;
}
.nameAndDeleteButton{
    display: flex;
    align-items: center;
}
.nameAndDeleteButton button{
    flex: 10%;
    background-color: #7085cb;
    color: #fff;
    padding:7px 15px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}
.nameAndDeleteButton button:hover{
    opacity: 0.6;
}
.nameAndDeleteButton h3{
    flex: 98%;
}